In [3]:
for left in range(7):
    for right in range(left,7):
        print("["+str(left)+"|"+str(right)+"]",end=" ")
    print()

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6]
[2|2] [2|3] [2|4] [2|5] [2|6]
[3|3] [3|4] [3|5] [3|6]
[4|4] [4|5] [4|6]
[5|5] [5|6]
[6|6]

In [5]:
teams = [ 'Dragons', 'Wolves', 'Pandas', 'Unicorns']
for home_team in teams:
    for away_team in teams:
        if home_team!=away_team:
            print(home_team,"V/S",away_team)

Dragons V/S Wolves
Dragons V/S Pandas
Dragons V/S Unicorns
Wolves V/S Dragons
Wolves V/S Pandas
Wolves V/S Unicorns
Pandas V/S Dragons
Pandas V/S Wolves
Pandas V/S Unicorns
Unicorns V/S Dragons
Unicorns V/S Wolves
Unicorns V/S Pandas

In [10]:
def decade_counter():
	while year < 50:
		year += 10
	return year
decade_counter()

UnboundLocalError: local variable 'year' referenced before assignment

In [11]:
for x in range(1, 10, 3):
    print(x)

1
4
7

In [1]:
for x in range(10):
    for y in range(x):
        print(y)

0
0
1
0
1
2
0
1
2
3
0
1
2
3
4
0
1
2
3
4
5
0
1
2
3
4
5
6
0
1
2
3
4
5
6
7
0
1
2
3
4
5
6
7
8

In [25]:
def old_new (old,new):
    index=old.index("@")
    finished=old[:index]+"@"+new
    return finished
old=["pranavkp@gmail.com","pranavkp61@gmail.com","pranavkp306@gmail.com"]
neww=["outslash.com","ptslash.com","outslash.com"]
run=map(old_new,old,neww)
print(list(run))

['pranavkp@outslash.com', 'pranavkp61@ptslash.com', 'pranavkp306@outslash.com']

In [29]:
a="i am the man"
b=a.split()

In [30]:
b

['i', 'am', 'the', 'man']

In [32]:
" @ ".join(b)

'i @ am @ the @ man'

# formatting string

In [54]:
a=input("enter your name")
b=len(a)+13
c=ord(a[1])-ord("l")+ord("a")
d=chr(c)
print("hello {} your lucky number is : {}".format(a,b))

enter your namepranav
hello pranav your lucky number is : 19

In [55]:
print ("{} your lucky character is : {}".format(a,d))

pranav your lucky character is : g

In [49]:
x=ord("p")#get ascii value of a character
print(x)

chr(x)# get output as character using ascii value

112

'p'

In [56]:
def student_grade(name, grade):
    return "{Z}{X} received {Y}% on the exam{Z}.".format(X=name,Y=grade,Z="\"")

print(student_grade("Reed", 80))
print(student_grade("Paige", 92))
print(student_grade("Jesse", 85))

"Reed received 80% on the exam".
"Paige received 92% on the exam".
"Jesse received 85% on the exam".

In [58]:
price=25.25
tax=price+(price*10/100)# output is 27.775 but there is .005 which is un usable
print(price, tax)

25.25 27.775

### We can use \n for new line in between the formatting and \"  for getting "some quotes"

In [69]:
print("\"The real price = {:.2f}$\"  \n\"The taxed price = {:.2f}$\"".format(price,tax))

"The real price = 25.25$"
"The taxed price = 27.77$"

#### The < operater will align the output to the left and > align to right 
###### 3 means up to 3spaces right aligned , < 3 means up to 3spaces left aligned

In [14]:
def to_cel(degree):
    celcius=(degree-32)*5/9
    return celcius
for cel in range(0,101,10):
    print("{:>3} F | {:>6.2f} C (right aligned)\t {:<3} F | {:<6.2f} C (left aligned)".format(cel,to_cel(cel),cel,to_cel(cel)))

  0 F | -17.78 C (right aligned)	 0   F | -17.78 C (left aligned)
 10 F | -12.22 C (right aligned)	 10  F | -12.22 C (left aligned)
 20 F |  -6.67 C (right aligned)	 20  F | -6.67  C (left aligned)
 30 F |  -1.11 C (right aligned)	 30  F | -1.11  C (left aligned)
 40 F |   4.44 C (right aligned)	 40  F | 4.44   C (left aligned)
 50 F |  10.00 C (right aligned)	 50  F | 10.00  C (left aligned)
 60 F |  15.56 C (right aligned)	 60  F | 15.56  C (left aligned)
 70 F |  21.11 C (right aligned)	 70  F | 21.11  C (left aligned)
 80 F |  26.67 C (right aligned)	 80  F | 26.67  C (left aligned)
 90 F |  32.22 C (right aligned)	 90  F | 32.22  C (left aligned)
100 F |  37.78 C (right aligned)	 100 F | 37.78  C (left aligned)

In [15]:
he="i am the main attraction"
he.replace("a","@")

'i @m the m@in @ttr@ction'

#### using {0},{1} and {2} we can formatting the string .. in .format(a,b,c) , a=>0, b=>1, c=>3

In [23]:
first="Linux"
second="Python"
third="R program"
print("1st is {0}, 2nd is {1}, 3rd is {2}\n".format(first,second,third))#here {0}=> first, {1}=>second, {3} =>third
print("1st is {0}, 2nd is {1}, 3rd is {2}\n".format(third,first,second))#here {0}=>third , {1}=>first, {3} =>second
print("1st is {0}, 2nd is {2}, 3rd is {1}\n".format(first,second,third))#here {0}=> first, {1}=>second, {3} =>third

1st is Linux, 2nd is Python, 3rd is R program

1st is R program, 2nd is Linux, 3rd is Python

1st is Linux, 2nd is R program, 3rd is Python

In [41]:
xv=11.35
print("the absolute value of x is {:.0f}".format(11.35))

the absolute value of x is 11

In [45]:
liste1 = [1,2,3,4,5]
liste2 = list()
for i in liste1:
    liste2.insert(0,i)
print(liste2)

[5, 4, 3, 2, 1]

In [53]:
a="hello ene"
b=reversed(a)
str (b)

'<reversed object at 0x000001CBC0A8DB80>'

#### string reversal and storing

In [24]:
#check weather string is palindrome or not

def check_palin(inpword):
    newword = ""
    reverse_string = ""
    for i in inpword:
        if i != " ":
            newword = newword+i
            reverse_string = i+reverse_string
    
    if newword.upper() == reverse_string.upper():
        print("Given string with out spaces:-{} \nReversed string:-{}".format(newword,reverse_string))
        return True 
    else:
        print("Given string with out spaces:-{} \nReversed string:-{}".format(newword,reverse_string))
        return False
    
print(check_palin("i am ma i"))
print(check_palin("what is this"))
print(check_palin("malayalAm"))

Given string with out spaces:-iammai
Reversed string:-iammai
True
Given string with out spaces:-whatisthis
Reversed string:-sihtsitahw
False
Given string with out spaces:-malayalAm
Reversed string:-mAlayalam
True

# Lists

##### enumerate function

In [27]:
list1= ["king","queen","price","pricess"]
for i in enumerate(list1):### the i will have a tuple which have both index(starting from zero) and element @ that index
    print(i)

(0, 'king')
(1, 'queen')
(2, 'price')
(3, 'pricess')

In [67]:
list1= ["king","queen","price","pricess"]
for i,j in enumerate(list1):#by assigned one more variable "j" the tuple will assigne the value for i(index) and j(element)
    print(j)              ### 
    
type(j)

king
queen
price
pricess

str

#### from lis which have email and names as tuples , formating output as list wich have  name < email >

In [31]:
def split_mail(complist):
    result_list=[]
    for each in complist:
        email,name = each
        result_list.append("{} <{}>".format(name,email))
    return result_list

In [33]:
print(split_mail([("pranav@gmail.com","pranav k p"),("avinash@gmail.com","avinash kumar")]))

['pranav k p <pranav@gmail.com>', 'avinash kumar <avinash@gmail.com>']

## List comprehences
generating list with for loop in a single line of code

In [35]:
#nomally 
x=[]
for i in range(0,20,2):
    x.append(i)
x

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [39]:
#using list comprehence method
[x for x in range(0,20,2)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [40]:
#we can use conditions to this 
[x for x in range (0,20,2) if x>10]

[12, 14, 16, 18]

In [47]:
list1 = ["pranav","avinash", "varghese"] 

'''#---> to find the list with length of each elements'''
length_each=[len(lenght) for lenght in list1 ]

print(length_each)

[6, 7, 8]

##### Question 1
Given a list of filenames, we want to rename all the files with extension hpp to the extension h.
To do this, we would like to generate a new list called newfilenames, consisting of the new filenames. 
Fill in the blanks in the code using any of the methods you’ve learned thus far, like a for loop or a list comprehension.

In [64]:
filenames = ["program.c", "stdio.hpp", "sample.hpp", "a.out", "math.hpp", "hpp.out"]
# Generate newfilenames as a list containing the new filenames
# using as many lines of code as your chosen method requires.
newfilenames=[]
target=".hpp"
for x in filenames:
    if target in x:
        rep=x.rfind(target)
        newfilename=(x[:rep]+".h")
        newfilenames.append(newfilename)
    else:
        newfilenames.append(x)

print(newfilenames) 
# Should be ["program.c", "stdio.h", "sample.h", "a.out", "math.h", "hpp.out"]

['program.c', 'stdio.h', 'sample.h', 'a.out', 'math.h', 'hpp.out']

##### Question 2
Let's create a function that turns text into pig latin: a simple text transformation that modifies each word 
moving the first character to the end and appending "ay" to the end. For example, python ends up as ythonpay.

In [63]:
def pig_latin(text):
  say = ""
  # Separate the text into words
  words = text.split()
  for word in words:
    # Create the pig latin word and add it to the list
    pig="ay "
    new_word=word[1:]+word[0]+pig
    say=say+new_word
    # Turn the list back into a phrase
  new_text=say
  return new_text

print(pig_latin("hello how are you")) # Should be "ellohay owhay reaay ouyay"
print(pig_latin("programming in python is fun")) # Should be "rogrammingpay niay ythonpay siay unfay"

ellohay owhay reaay ouyay
rogrammingpay niay ythonpay siay unfay

#### Question 3
The permissions of a file in a Linux system are split into three sets of three permissions: read, write, and execute for the owner, group, and others. Each of the three values can be expressed as an octal number summing each permission, with 4 corresponding to read, 2 to write, and 1 to execute. Or it can be written with a string using the letters r, w, and x or - when the permission is not granted.
For example: 
640 is read/write for the owner, read for the group, and no permissions for the others; converted to a string, it would be: "rw-r-----"
755 is read/write/execute for the owner, and read/execute for group and others; converted to a string, it would be: "rwxr-xr-x"
Fill in the blanks to make the code convert a permission in octal format into a string format.

In [65]:
def octal_to_string(octal):
    result = ""
    value_letters = [(4,"r"),(2,"w"),(1,"x")]
    # Iterate over each of the digits in octal
    for digit in [int(n) for n in str(octal)]:
        # Check for each of the permissions values
        for value, letter in value_letters:
            if digit >= value:
                result += letter
                digit -= value
            else:
                result+="-"
    return result
    
print(octal_to_string(755)) # Should be rwxr-xr-x
print(octal_to_string(644)) # Should be rw-r--r--
print(octal_to_string(750)) # Should be rwxr-x---
print(octal_to_string(600)) # Should be rw-------

rwxr-xr-x
rw-r--r--
rwxr-x---
rw-------

The group_list function accepts a group name and a list of members, and returns a string with the format:
group_name: member1, member2, … For example, group_list("g", ["a","b","c"]) returns "g: a, b, c". 
Fill in the gaps in this function to do that.

In [78]:
def group_list(group, users):
    last=""
    last = last+", ".join(users)
    members = "{g}: {u}".format(g=group, u=last)
    return members

print(group_list("Marketing", ["Mike", "Karen", "Jake", "Tasha"])) # Should be "Marketing: Mike, Karen, Jake, Tasha"
print(group_list("Engineering", ["Kim", "Jay", "Tom"])) # Should be "Engineering: Kim, Jay, Tom"
print(group_list("Users", "")) # Should be "Users:"

Marketing: Mike, Karen, Jake, Tasha
Engineering: Kim, Jay, Tom
Users:


#### Question 6
The guest_list function reads in a list of tuples with the name, age, and profession of each party guest, 
and prints the sentence "Guest is X years old and works as __." for each one. For example, 
guest_list(('Ken', 30, "Chef"), ("Pat", 35, 'Lawyer'), ('Amanda', 25, "Engineer")) should 
print out: 
Ken is 30 years old and works as Chef.
Pat is 35 years old and works as Lawyer. 
Amanda is 25 years old and works as Engineer.

In [79]:
def guest_list(guests):
    for ele in guests:
        name,age,profession=ele
        print(" {} is {} years old and works as {}".format(name,int(age),profession))

guest_list([('Ken', 30, "Chef"), ("Pat", 35, 'Lawyer'), ('Amanda', 25, "Engineer")])

 Ken is 30 years old and works as Chef
 Pat is 35 years old and works as Lawyer
 Amanda is 25 years old and works as Engineer

# Dictionary

In [135]:
toc = {"Introduction":1, "Chapter 1":4, "Chapter 2":11, "Chapter 3":25, "Chapter 4":30}

# Epilogue starts on page 39
toc["Epilogue"]=39 # we an simply add new key value pair like accessing the key and assigned with a value 

# Chapter 3 now starts on page 24
toc["Chapter 3"] = 24 # if the key is already presented in the dictionary then the key value will over-write

# What are the current contents of the dictionary?
print(toc)

# Is there a Chapter 5?
print("Chapter 5" in toc)

#To delete the Epliogue from dictionary
del toc["Epilogue"]
print(toc)
toc["Chapter 3"]

{'Introduction': 1, 'Chapter 1': 4, 'Chapter 2': 11, 'Chapter 3': 24, 'Chapter 4': 30, 'Epilogue': 39}
False
{'Introduction': 1, 'Chapter 1': 4, 'Chapter 2': 11, 'Chapter 3': 24, 'Chapter 4': 30}

24

### iterating through dictionaries

In [84]:
toc

{'Introduction': 1,
 'Chapter 1': 4,
 'Chapter 2': 11,
 'Chapter 3': 24,
 'Chapter 4': 30}

In [86]:
toc.items() # will produce a list of tuples with key vale pair

dict_items([('Introduction', 1), ('Chapter 1', 4), ('Chapter 2', 11), ('Chapter 3', 24), ('Chapter 4', 30)])

In [88]:
toc.keys() # produse an list of keys in the dicionaries

dict_keys(['Introduction', 'Chapter 1', 'Chapter 2', 'Chapter 3', 'Chapter 4'])

In [139]:
toc["test"]=[1,2,3,5]
toc["test"]=

{'Introduction': 1,
 'Chapter 1': 4,
 'Chapter 2': 11,
 'Chapter 3': 24,
 'Chapter 4': 30,
 'test': [1, 2, 3, 5]}

In [98]:
toc.values() ## produse an list of values in the dicionaries

dict_values([1, 4, 11, 24, 30])

In [99]:
print(type(toc.items()))    #its a special type of data type of dicionaries
print(type(toc.keys()))     #its a special type of data type of dicionaries
print(type(toc.values()))   #its a special type of data type of dicionaries

<class 'dict_items'>
<class 'dict_keys'>
<class 'dict_values'>

In [100]:
cool_beasts = {"octopuses":"tentacles", "dolphins":"fins", "rhinos":"horns"}
for keys,values in cool_beasts.items():
    print("{} have {}".format(keys,values))

octopuses have tentacles
dolphins have fins
rhinos have horns

In [113]:
# counting number of letters in a sentence

def count_lerrter(sentence):
    result={}
    for letter in sentence:
        if letter not in result:
            result[letter]=0
        result[letter]+=1
    for key,value in result.items():
        if key==" ":
            key="Space"
        print("{:>3} \t= \t{:>3}".format(key,value) )
    return result

In [114]:
print(count_lerrter("i am the greatest man alive in the worg of zigratues"))

  i 	= 	  4
Space 	= 	 10
  a 	= 	  5
  m 	= 	  2
  t 	= 	  5
  h 	= 	  2
  e 	= 	  6
  g 	= 	  3
  r 	= 	  3
  s 	= 	  2
  n 	= 	  2
  l 	= 	  1
  v 	= 	  1
  w 	= 	  1
  o 	= 	  2
  f 	= 	  1
  z 	= 	  1
  u 	= 	  1
{'i': 4, ' ': 10, 'a': 5, 'm': 2, 't': 5, 'h': 2, 'e': 6, 'g': 3, 'r': 3, 's': 2, 'n': 2, 'l': 1, 'v': 1, 'w': 1, 'o': 2, 'f': 1, 'z': 1, 'u': 1}

In [132]:
wardrobe = {"shirt":["red","blue","white"], "jeans":["blue","black"]}
for key, value in wardrobe.items():
    for item in value:
        print("{} {}".format(item,key))

red shirt
blue shirt
white shirt
blue jeans
black jeans

In [130]:
wardrobe.get("jeans", False) # get() will produce alist of all values asociated with the given key ("jeans") if
                             # key is not presented then return Flase or any thing comes as 2nd argument

['blue', 'black']

In [131]:
type(wardrobe.get("jeans", "shirt") )

list

### Question 1
The email_list function receives a dictionary, which contains domain names as keys, and a list of users as values. Fill in the blanks to generate a list that contains complete email addresses (e.g. diana.prince@gmail.com).

In [134]:
def email_list(domains):
    emails = []
    for mail,users in domains.items():
        for user in users:
            emails.append("{}@{}".format(user,mail))
    return(emails)

print(email_list({"gmail.com": ["clark.kent", "diana.prince", "peter.parker"], "yahoo.com": ["barbara.gordon", "jean.grey"], "hotmail.com": ["bruce.wayne"]}))

['clark.kent@gmail.com', 'diana.prince@gmail.com', 'peter.parker@gmail.com', 'barbara.gordon@yahoo.com', 'jean.grey@yahoo.com', 'bruce.wayne@hotmail.com']

### Question 2
The groups_per_user function receives a dictionary, which contains group names with the list of users. Users can belong to multiple groups. Fill in the blanks to return a dictionary with the users as keys and a list of their groups as values.

In [1]:
def groups_per_user(group_dictionary):
	user_groups = {}
	# Go through group_dictionary
	for key, values in group_dictionary.items():
		# Now go through the users in the group
		for user in values:
			# Now add the group to the the list of
			if user not in user_groups:
				new_value=[key]
				#print(new_value)
				#print(user)
				user_groups[user]=new_value
				
			else:
				new_value1=user_groups[user]
				#print(new_value1)
				user_groups[user]=new_value1+[key]
# groups for this user, creating the entry
# in the dictionary if necessary

	return(user_groups)

print(groups_per_user({"local": ["admin", "userA"],
		"public":  ["admin", "userB"],
		"administrator": ["admin"] }))

{'admin': ['local', 'public', 'administrator'], 'userA': ['local'], 'userB': ['public']}

In [3]:
wardrobe = {'shirt': ['red', 'blue', 'white'], 'jeans': ['blue', 'black']}
new_items = {'jeans': ['white'], 'scarf': ['yellow'], 'socks': ['black', 'brown']}
wardrobe.update(new_items)
wardrobe

{'shirt': ['red', 'blue', 'white'],
 'jeans': ['white'],
 'scarf': ['yellow'],
 'socks': ['black', 'brown']}

###### The add_prices function returns the total price of all of the groceries in the  dictionary. Fill in the blanks to complete this function.

In [4]:
def add_prices(basket):
	# Initialize the variable that will be used for the calculation
	total = 0
	# Iterate through the dictionary items
	for key, values in basket.items():
		# Add each price to the total calculation
		# Hint: how do you access the values of
		# dictionary items?
		total += values
	# Limit the return value to 2 decimal places
	return round(total, 2)  

groceries = {"bananas": 1.56, "apples": 2.50, "oranges": 0.99, "bread": 4.59, 
	"coffee": 6.99, "milk": 3.39, "eggs": 2.98, "cheese": 5.44}

print(add_prices(groceries)) # Should print 28.44

28.44

In [53]:
sentence="this is a 123 321 string of "
word="321"
b=sentence.split(" ")
b.index("321")
sentence.index("321")
sentence[(sentence[sentence.index(word):].find(" "))+sentence.index(word):]
sentence[sentence.index(word)+len(word):]

' string of '

In [31]:
z=" ".join(b)
z

'this is a 123 321 string'

In [25]:
def format_address(address_string):
  # Declare variables
  house_number = ""
  street=""

  # Separate the address string into parts
  seperated=address_string.split(" ")
  # Traverse through the address parts
  for i,j in enumerate(seperated):
    # Determine if the address part is the
    # house number or part of the street name
    
    if i==0:
      house_number=house_number+str(j)
    else:
      street=street+str(j)

  # Does anything else need to be done 
  # before returning the result?
  
  # Return the formatted string  
  return "house number {} on street named {}".format(house_number,street)

print(format_address("123 Main Street"))
# Should print: "house number 123 on street named Main Street"

print(format_address("1001 1st Ave"))
# Should print: "house number 1001 on street named 1st Ave"

print(format_address("55 North Center Drive"))
# Should print "house number 55 on street named North Center Drive"

house number 123 on street named MainStreet
house number 1001 on street named 1stAve
house number 55 on street named NorthCenterDrive

In [58]:
a=[1,2,3,4,5,6,7,8,9]
b=a[::-1]
b

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [59]:
animal = "Hippopotamus"
>>> print(animal[3:6])
>>> print(animal[-5])
>>> print(animal[10:])

pop
t
us

In [60]:
colors = ["red", "white", "blue"]
colors.insert(2, "yellow")

In [61]:
colors

['red', 'white', 'yellow', 'blue']

In [62]:
host_addresses = {"router": "192.168.1.1", "localhost": "127.0.0.1", "google": "8.8.8.8"}
host_addresses.keys()

dict_keys(['router', 'localhost', 'google'])

In [1]:
"big" > "small"

False

In [2]:
11 % 5

1

In [3]:
def sum(x, y):
		return(x+y)
print(sum(sum(1,2), sum(3,4)))

10

In [4]:
((10 >= 5*2) and (10 <= 5*2))

True

In [6]:
a="55 North Center Drive"
b=a.split(" ")

In [19]:
x=""
for i,j in enumerate(b):
        x=x+" "+j
x

' 55 North Center Drive'

### class and methods

In [4]:
def to_seconds(hours, minutes, seconds):
    """Returns the amount of seconds in the given hours, minutes and seconds."""
    #the above is called as docstring which way we can identify what the function do?
    return hours*3600+minutes*60+seconds
help(to_seconds)

Help on function to_seconds in module __main__:

to_seconds(hours, minutes, seconds)
    Returns the amount of seconds in the given hours, minutes and seconds.

In [21]:
class Employees:#class creation
    first_name=""          #the variable inside the class is called as attribute      
    last_name=""           #the variable inside the class is called as attribute            
    age=0                  #the variable inside the class is called as attribute   
    mail="@outslash.com"   #the variable inside the class is called as attribute  
    def email_of_emp(self):   #functions in class called as methodes , methode should have atleast one argument as self
        e_mail=self.first_name+"."+self.last_name+self.mail
        return e_mail
pranav=Employees()# pranav is now a object of a class Employees
print(type(pranav))
pranav.first_name="Pranav"
pranav.last_name="kp"
pranav.age=27
print(pranav.email_of_emp())

<class '__main__.Employees'>
Pranav.kp@outslash.com

### constructor ##### which is a methode /function in class wchich is creatd automatically when a class is crated

In [28]:
#THE ABOVE METHODE IS LITTLE LONG TO WRITE 
class Student:
    def __init__(self,name,marks):  # init methode is known as constructor 
        self.name=name
        self.marks=marks
    def pass_or_fail(self):
        if self.marks >= 40:
            return True
        else:
            return False
        

student1=Student("pranav",60) # since we created init methode we ca initialize the arguments with the class cration 
student2=Student("avinash",30)# since we created init methode we ca initialize the arguments with the class cration  
print(student1.name)
print(student1.pass_or_fail())

print(student2.name)
print(student2.pass_or_fail())

pranav
True
avinash
False

In [60]:
class Complex:
    def __init__(self,real,img):
        self.real=real
        self.img=img
    def adding(self,number):
        real=self.real+number.real
        img=self.img+number.img
        result=Complex(real,img)# here we are crating result as an object of class Complex 
                                # hence it have all attributes of class
        return result
    
n1=Complex(5,10)
n2=Complex(-2,3)

result=n1.adding(n2)
print("output : {} + {}i".format(result.real,result.img))

output : 3 + 13i

In [48]:
class Triangle:
    def __init__(self,a,b,c):
        self.a=a
        self.b=b
        self.c=c
    def perimeter(self):
        """To find the perimeter of a triangle which is \n a+b+c"""
        peri_meter=self.a+self.b+self.c
        return peri_meter

triangle1=Triangle(10,22,33)
help(triangle1)
triangle1.perimeter()

Help on Triangle in module __main__ object:

class Triangle(builtins.object)
 |  Triangle(a, b, c)
 |
 |  Methods defined here:
 |
 |  __init__(self, a, b, c)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  perimeter(self)
 |      To find the perimeter of a triangle which is
 |      a+b+c
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

65

In [108]:
class Elevator:
    def __init__(self, bottom, top, current):
        """Initializes the Elevator instance."""
        self.bottom=bottom
        self.top=top
        self.current=current
        self.max=top
        self.min=bottom
        
    def up(self):
        """Makes the elevator go up one floor."""
        if self.current < self.max:
            self.bottom =self.bottom+1
            self.top     =self.top+1
            self.current=self.current+1
        else:
            self.bottom =self.max-1
            self.top     =self.max
            self.current=self.max
            
    def down(self):
        """Makes the elevator go down one floor."""
        if self.current > self.min:
            self.bottom =self.bottom-1
            self.top     =self.top-1
            self.current=self.current-1
        else:
            self.bottom =self.min
            self.top     =self.min+1
            self.current=self.min
        
    def go_to(self, floor):
        """Makes the elevator go to the specific floor."""
        if floor >= self.min and floor<=self.max:
            self.bottom =self.min
            self.top     =self.max
            self.current=floor
       
            
        elif floor < self.min:
            self.current=self.min
            print("No floor found")
        else:
            self.current=self.max
            print("No floor found")
            
    def __str__ (self):
        return "Current floor: {}".format(self.current)
        
    

elevator = Elevator(-1, 10, 0)

In [109]:
elevator.up() 
elevator.current #should output 1

1

In [110]:
elevator.down() 
elevator.current #should output 0

0

In [114]:
elevator.go_to(10) 
elevator.current #should output 10

10

In [112]:
# Go to the top floor. Try to go up, it should stay. Then go down.
elevator.go_to(10)
elevator.up()
elevator.down()
print(elevator.current) # should be 9
# Go to the bottom floor. Try to go down, it should stay. Then go up.
elevator.go_to(-1)
elevator.down()
elevator.down()
elevator.up()
elevator.up()
print(elevator.current) # should be 1

9
1

In [115]:
elevator.go_to(5)
print(elevator)

Current floor: 5

In [120]:
class Clothing:
    stock={ 'name': [],'material' :[], 'amount':[]}
    def __init__(self,name):
        material = ""
        self.name = name
    def add_item(self, name, material, amount):
        Clothing.stock['name'].append(self.name)
        Clothing.stock['material'].append(self.material)
        Clothing.stock['amount'].append(amount)
    def Stock_by_Material(self, material):
        count=0
        n=0
        for item in Clothing.stock['material']:
            if item == material:
                count += Clothing.stock['amount'][n]
                n+=1
        return count

class shirt(Clothing):
  material="Cotton"
class pants(Clothing):
  material="Cotton"
  
polo = shirt("Polo")
sweatpants = pants("Sweatpants")
polo.add_item(polo.name, polo.material, 4)
sweatpants.add_item(sweatpants.name, sweatpants.material, 6)
current_stock = polo.Stock_by_Material("Cotton")
print(current_stock)

10

# Code Reuse

Let’s put what we learned about code reuse all together. 
<br><br>
First, let’s look back at **inheritance**. Run the following cell that defines a generic `Animal` class.

In [2]:
class Animal:
    name = ""
    category = ""
    
    def __init__(self, name):
        self.name = name
    
    def set_category(self, category):
        self.category = category

What we have is not enough to do much -- yet. That’s where you come in. 
<br><br>
In the next cell, define a `Turtle` class that inherits from the `Animal` class. Then go ahead and set its category. For instance, a turtle is generally considered a reptile. Although modern cladistics call this categorization into question, for purposes of this exercise we will say turtles are reptiles!

In [6]:
class Turtle(Animal):
        category="reptile"

Run the following cell to check whether you correctly defined your `Turtle` class and set its category to reptile.

In [5]:
print(Turtle.category)

reptiles

Was the output of the above cell reptile? If not, go back and edit your `Turtle` class making sure that it inherits from the `Animal` class and its category is properly set to reptile. Be sure to re-run that cell once you've finished your edits. Did you get it? If so, great!

Next, let’s practice **composition** a little bit. This one will require a second type of `Animal` that is in the same category as the first. For example, since you already created a `Turtle` class, go ahead and create a `Snake` class. Don’t forget that it also inherits from the `Animal` class and that its category should be set to reptile.

In [7]:
class Snake(Animal):
        category="reptile"

Now, let’s say we have a large variety of `Animal`s (such as turtles and snakes) in a Zoo. Below we have the `Zoo` class. We’re going to use it to <b> organize</b>  our various `Animal`s. Remember, inheritance says a Turtle is an `Animal`, but a `Zoo` is not an `Animal` and an `Animal` is not a `Zoo` -- though they are related to one another.

Fill in the blanks of the `Zoo` class below so that you can use **zoo.add_animal( )** to add instances of the `Animal` subclasses you created above. Once you’ve added them all, you should be able to use **zoo.total_of_category( )** to tell you exactly how many individual `Animal` types the `Zoo` has for each category! Be sure to run the cell once you've finished your edits.

In [8]:
class Zoo:
    def __init__(self):
        self.current_animals = {}
    
    def add_animal(self, animal):
        self.current_animals[animal.name] = animal.category
    
    def total_of_category(self, category):
        result = 0
        for animal in self.current_animals.values():
            if animal == category:
                result += 1
        return result

zoo = Zoo()

Run the following cell to check whether you properly filled in the blanks of your `Zoo` class.

In [13]:
turtle = Turtle("Turtle") #create an instance of the Turtle class
snake = Snake("Snake") #create an instance of the Snake class

zoo.add_animal(turtle)
zoo.add_animal(snake)

print(zoo.total_of_category("reptile")) #how many zoo animal types in the reptile category
print(zoo.current_animals)

2
{'Turtle': 'reptile', 'Snake': 'reptile'}

Was the output of the above cell 2? If not, go back and edit the `Zoo` class making sure to fill in the blanks with the appropriate attributes. Be sure to re-run that cell once you've finished your edits.  
<br>
Did you get it? If so, perfect! You have successfully defined your `Turtle` and `Snake` subclasses as well as your `Zoo` class.  You are all done with this notebook. Great work!